<h1>Detalhes do produto </h1>
  <p> id:<%= @product.id %></p>
  <p> nome:<%= @product.name %></p>
  <p> preco:<%= @product.price %></p>
  <p> quantidade:<%= @product.quantity %></p>
  <p> <%= button_to "Deletar", @product, method: :delete, data: {confirm: 'isso mesmo parça?'} %>